.footer {
  border-top: 1px solid #bac5d0;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  label {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 12px;
    display: block;
  }
}
.copyright {
  display: inline-block;
  font-size: 12px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
