.confirm-subscription {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.booking-confirmation {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  font-size: 30px;
  text-align: center;
}
.confirm-booking {
  img {
    display: block;
    margin: 0 auto;
  }
}
