.confirm-subscription {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
}
.booking-confirmation {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
}
