.sitter-subnav ul {
  display: flex;
  list-style-type: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
  background-color: #bac5d0;

  li a {
    color: white;
    &:hover {
      color: black;
    }
  }
}
.all-dogs-header {
  font-family: 'Amatic SC', cursive;
}
.all-dogs-container {
}
.single-dog {
  display: flex;
  align-items: center;
  justify-content: space-evently;
  max-width: 50%;
  margin: 0 auto;
}
.dog-content {
}
.image-container img {
  max-height: 200px;
}
