.sitter-subnav ul {
  display: flex;
  list-style-type: none;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 16px;
  background-color: #bac5d0;

  li a {
    color: white;
    &:hover {
      color: black;
    }
  }
}
.all-dogs-header {
  font-family: 'Amatic SC', cursive;
}
.all-dogs-container {
}
.single-dog {
  display: flex;
  align-items: center;
  max-width: 40%;
  margin: 10px auto;
  border: 1px solid #bac5d0;
}
.dog-content {
  margin-left: 8px;
}
.dog-content > p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.dog-content {
  a {
    color: #bac5d0;
    display: block;
  }
  a:hover {
    color: pink;
  }
}
.dog-content > h3 {
  font-family: 'Amatic SC', cursive;
  margin: 0;
  font-size: 24px;
}
.image-container img {
  height: 100px;
  width: 100px;
}

.single-dog-intro {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
.calendar-image {
  display: flex;
  align-items: center;
}
.react-calendar__month-view__days__day--weekend {
  color: black;
}
.user-welcome-banner {
  display: inherit;
}

.user-welcome {
  img {
    margin: 0 auto;
    display: block;
  }
}

.calendar-image {
}

.confirm-booking-button {
  //width: 100%;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.confirm-booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button-text-container {
  display: flex;
  flex-direction: column;
}
.confirm-date-button {
}

.MuiCardMedia-root-30 {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .confirm-booking-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .button-text-container {
    align-self: flex-end;
  }
  .all-dogs-list {
    display: flex;
    flex-wrap: wrap;
  }
}
